<section id="header">
    <div class="logo">BLACK<span>Friday</span></div>
    <div>
        <ul id="navbar">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-duotone fa-solid fa-bag-shopping"></i> </a>
            </li>
        </ul>
    </div>
</section>

<section id="countdown">
    <h4>Hurry, Black Friday is Almost Here!
    </h4>
    <h2>Time Left Until Our Biggest Sale Of The Year Begins</h2><button id="ahmed">Set Reminder</button>
    <!-- <div class="timer">
            <div class="time-box"><span class="number">30</span><span class="label">Days</span></div>
            <div class="time-box"><span class="number">21</span><span class="label">Hours</span></div>
            <div class="time-box"><span class="number">39</span><span class="label">Minutes</span></div>
            <div class="time-box"><span class="number">33</span><span class="label">Seconds</span></div>
        </div> -->
</section>
<br>
<section>
    <div class="container">
        <div class="text-section">
            <h1>Black Friday Exclusive </h1>
            <h2>Save big: Up to 75% Off on Headphones </h2>
            <p>You can trust us to bring you the latest technology at unbeatable prices. Don’t miss this limited-time opportunity to upgrade your audio game. </p><a href="#" class="shop-now-button">Shop Now</a></div>
        <div class="image-section"><img src="/6.jpg" alt=" "></div>
    </div>
</section>
<!-- Products Section -->
<section id="products">
    <h4 id="abozeid">Unbelievable Discounts Await You</h4>
    <h2>Black Friday Madness Is Here!</h2>
    <div class="product-grid">
        <div class="product"><img src="/1.jpg" alt="Headphone 1">
            <h3>Nexatone Headsets</h3>
            <p><span class="old-price">$270.00</span>$110.00</p>
        </div>
        <div class="product"><img src="/2.jpg" alt="Headphone 2">
            <h3>MacBook</h3>
            <p><span class="old-price">$155.00</span>$99.00</p>
        </div>
        <div class="product"><img src="/5.jpg" alt="Headphone 3">
            <h3>AudioSculpt Elite</h3>
            <p><span class="old-price">$375.00</span>$235.00</p>
        </div>
        <div class="product"><img src="/3.jpg" alt="Headphone 4">
            <h3>SonoWave Headphones</h3>
            <p><span class="old-price">$295.00</span>$125.00</p>
        </div>
    </div>
</section>
<section>
    <div class="page">
        <div class="aaaa">
            <p class="limited">Limited-Time Offer </p>
            <h1>Save Big: Up to 60% Off on All Headphones <span>60%</span>Act Fast Before They're Gone
            </h1>
            <p class="act">Save Big: Up to 60% Off on All Headphones </p><a href="#" class="button">Shop Now</a></div>
        <div class="image"><img src="/black-headphones-black-textile.jpg" alt=" "></div>
    </div>
</section>

<section class="features-section">
    <div class="listss">
        <div class="features-header">
            <p class="why-choose">Why Choose BlackFridayShop? </p>
            <h2>the joy of shopping at its best </h2>
        </div>
        <div class="features-list">
            <div class="feature-item">
                <h3>Free Shipping </h3>
                <p>Delight in seamless free shipping, enhancing your shopping experience. Navigate our diverse collection, where cost savings meet product joy </p>
            </div>
            <div class="feature-item">
                <h3>Secure Payments </h3>
                <p>Shop with confidence using our secure payment methods. Your transactions are protected, providing peace of mind for a worry-free shopping .</p>
            </div>
            <div class="feature-item">
                <h3>Order Tracking </h3>
                <p>Track your order effortlessly with our streamlined system. Stay informed and in control as your purchase makes its way to your doorstep </p>
            </div>
            <div class="feature-item">
                <h3>Easy Returns </h3>
                <p>Celebrate worry-free shopping with our hassle-free returns – because we're here to make your shopping experience as smooth as possible
                </p>
            </div>
        </div>
    </div>
</section>
<div class="saver">
    <div class="text">
        <p class="limited-offer">Limited-Time Offer
        </p>
        <h1> Save Big: Up to<span>60%</span>on All Headphones </h1>
        <p class="act-fast"> Act Fast Before They're Gone
        </p>
        <a href="#" class="shop-now-button">Shop Now </a>
    </div>
    <div class="im">
        <img src="/still-life-wireless-cyberpunk-headphones (1).jpg" height="100%" width="100% ">
    </div>


    div

    <app-sale></app-sale>
    <app-sale></app-sale>
    <app-sale></app-sale>
    <app-sale></app-sale>
    <app-sale></app-sale>